* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #595757;
}

/* notification bar */

.notification-bar {
  background-color: #273898;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.notification-bar a {
  color: #fff;
  font-weight: 500;
}

.right-notification a {
  margin-right: 30px;
}

/* end notification bar */

/* navbar */

.navbar {
  padding: 20px 50px;
  background-color: #f1f1f1 !important;
  box-shadow: 0 0 10px 0 #acacac;
}

.navbar-brand {
  font-size: 35px;
  font-weight: 700;
  color: #273898 !important;
}

.search-btn {
  background-color: #273898;
  border: none;
  outline: none !important;
  color: #fff;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 10px 30px;
}

.search-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.search-btn:hover {
  background-color: #223083;
}

.search-input {
  border-radius: 0.25rem 0 0 0.25rem;
  margin-right: 0 !important;
  width: 350px;
  padding: 10px;
  border: none;
}

.search-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #273898;
  transition: 0.3s;
}

.nav-item {
  font-size: 17px;
  font-weight: 500;
  margin-right: 10px;
}

.nav-link {
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #273898;
}

/* end navbar */

/* profile menu */

.profile-page {
  padding: 30px;
}

.outer-menu {
  padding: 0 10px;
}

.profile-menu {
  padding: 10px;
  border-radius: 7px;
  border-top: 8px solid #273898;
  box-shadow: 0 0 20px 5px #d3d3d3;
}

.profile-menu-top {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0px 50px;
}

.profile-menu-top img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.uderline {
  height: 1px;
  background-color: #e4e4e4;
  margin-top: 10px;
  border-radius: 99px;
}

.profile-menu-name p:nth-child(1) {
  margin-bottom: 0;
  color: #273898;
  font-size: 16px;
  font-weight: 700;
}

.profile-menu-name p:nth-child(2) {
  margin-bottom: 0;
  color: #809fc5;
  font-size: 13px;
  font-weight: 600;
}

.profile-menu-name p:nth-child(3) {
  margin-bottom: 0;
  color: #eac200;
  font-size: 13px;
  font-weight: 700;
  text-transform: capitalize;
}

.profile-menu-links {
  padding-top: 10px;
}

.profile-menu-links a {
  padding: 10px 30px;
  display: block;
  color: #6b94c7;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 500;
}

.profile-menu-links a i {
  margin-right: 50px;
  font-size: 20px;
}

.profile-menu-links a:hover {
  background-color: #f5f5f5;
}

.edit-button {
  text-align: right;
  margin: 30px 0 20px;
}

.edit-button a {
  padding: 12px 30px;
  border-radius: 99px;
  background-color: #273898;
  font-weight: 600;
  color: #fff;
}

/* end profile menu */

/* profile details */

.profile-details {
  padding: 10px;
  border-radius: 7px;
  border-top: 8px solid #273898;
  box-shadow: 0 0 20px 5px #d3d3d3;
}

.slider-col-2 {
  padding: 0 110px 0 30px;
}

.slider-top-line {
  margin: 20px 0 0 22px;
}

.slider-top-line p {
  font-size: 22px;
  font-weight: 700;
  color: #273898;
}

.slider-col {
  margin-top: 0px;
}

.swiper-container {
  width: 100%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.5;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-fit: cover;
}

/* service col */

.service-section {
  padding: 0 20px;
  height: 100%;
}

table{
  border-collapse: separate;
  border-spacing: 10px;
}

table button{
  border: none;
  background: none;
  color: #273898;
  font-weight: 500;
}

table button:hover{
  text-decoration:underline wavy;
}

.wallet-col .service-price p{
  font-weight: 500 ;
  color: #121d5a ;
}


.service-col {
  border: 1px solid #273898;
  border-radius: 1px;
  height: 100%;
  padding: 10px 20px;
}

.service-top-detail {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #273898;
}

.freelancer-rating {
  margin-left: auto;
}

.freelancer-rating p {
  margin-bottom: 0;
  font-weight: 600;
  color: #1767a8;
}

.freelancer-rating p span {
  color: #fcb80e;
}

.service-menu-top {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 10px 0;
}

.service-menu-top img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.uderline {
  height: 1px;
  background-color: #e4e4e4;
  margin-top: 10px;
  border-radius: 99px;
}

.service-menu-name p:nth-child(1) {
  margin-bottom: 0;
  color: #273898;
  font-size: 14px;
  font-weight: 700;
}

.service-menu-name p:nth-child(2) {
  margin-bottom: 0;
  color: #809fc5;
  font-size: 11px;
  font-weight: 600;
}

.service-menu-name p:nth-child(3) {
  margin-bottom: 0;
  color: #eac200;
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
}

.service-details {
  padding: 10px 20px 0 10px;
}

.service-price {
  display: flex;
  align-items: center;
}

.service-price p {
  font-weight: 600;
  color: #293898;
  margin-bottom: 5px;
}

.service-price p:nth-child(2) {
  margin-left: auto;
}

.service-description p {
  font-style: italic;
  font-weight: 600;
  color: #6b94c7;
  font-size: 15px;
  margin-bottom: 5px;
}

.service-time {
  display: flex;
  align-items: center;
}

.service-time p {
  font-weight: 600;
  font-size: 15px;
  color: #273898;
  margin-bottom: 10px;
}

.service-time p:nth-child(2) {
  margin-left: auto;
}

.features p {
  color: #1767a8;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 7px;
  text-transform: capitalize;
}

.service-btns {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 10px;
}

.service-btns a {
  margin: 0 3px;
  text-align: center;
  width: 50%;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 0px;
  color: #fff;
  background-color: #273898;
  font-weight: 500;
}
/* end service col */

/* end profile details */

/* freelancer information */

.information-page {
  padding: 10px 30px;
}

.outer-information {
  padding: 0 10px;
}

.freelancer-information {
  padding: 16px 50px;
  border-radius: 7px;
  border-top: 8px solid #273898;
  box-shadow: 0 0 20px 5px #d3d3d3;
}

.freelancer-information-top {
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}

.freelancer-information-top p {
  font-size: 35px;
  font-weight: 700;
  color: #273898;
}

.all-details {
  padding: 30px 0;
}

.all-details .head {
  font-size: 20px;
  font-weight: 700;
  color: #273898;
  margin-bottom: 0px;
}

.all-details .information i {
  font-size: 20px;
  opacity: 0;
}

.all-details .information {
  font-size: 19px;
  font-weight: 500;
  color: #5d86b9;
}

.all-details .sub-head {
  font-size: 19px;
  font-weight: 700;
  color: #1360a0;
  margin-bottom: 0px;
}

.all-details .sub-head i {
  opacity: 0;
}

.profession {
  margin-bottom: 40px;
}

.skills {
  margin-bottom: 40px;
}

.experience {
  margin-bottom: 40px;
}

.exprerience-detail {
  display: flex;
  justify-content: space-between;
}

.exprerience-detail .information:nth-child(2) {
  padding-right: 60px;
}

.skills .information {
  margin-bottom: 0%;
}

.progress {
  border-radius: 99px;
  width: 60%;
  margin-left: 20px;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #273898;
}

.profile-summary .information {
  padding-left: 20px;
}

.education p {
  margin-bottom: 0;
}

/* end freelancer information */

/* freelancer reviews */

.review-page {
  padding: 10px 30px;
}

.outer-review {
  padding: 0 10px;
}

.freelancer-review {
  padding: 16px;
  border-radius: 7px;
  border-top: 8px solid #273898;
  box-shadow: 0 0 20px 5px #d3d3d3;
}

.freelancer-review-top {
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}

.freelancer-review-top p {
  font-size: 35px;
  font-weight: 700;
  color: #273898;
}

.all-review {
  padding: 30px 0;
}

.review {
  display: flex;
  /* align-items: center; */
}

.review-pic {
  margin: 10px 20px;
}

.review-pic img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.review-underline {
  height: 1px;
  background-color: #dbdbdb;
  margin: 25px 0;
}

.reviewer {
  display: flex;
}

.reviewer p {
  margin-bottom: 0px;
}

.reviewer p:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
  color: #273898;
}

.reviewer p:nth-child(2) i:nth-child(-n + 3) {
  color: #f3f311;
}

.reviewer p:nth-child(3) {
  color: #1767a8;
  font-weight: 500;
}

.comment p:nth-child(1) {
  font-weight: 600;
  color: #273898;
  font-size: 19px;
}

.comment p:nth-child(2) {
  color: #1767a8;
  font-size: 18px;
}

/* end freelancer reviews */

/* footer */

.footer-top-line {
  height: 4px;
  background-color: #1767a8;
  width: 100%;
  margin-top: 10px;
}

footer a {
  color: #7f9cc4;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0;
  display: block;
}

footer a:hover {
  color: #fff;
  /* padding-left: 14px; */
  transition: 0.2s;
  font-weight: 500;
  margin-left: 6px;
}

footer {
  background: #121d5a;
  color: #fff;
  padding: 30px 100px 0;
}

.icons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-icon-col {
  width: 15%;
}

.footer-detail-col {
  width: 85%;
}

.footer-detail-col p {
  font-size: 14px;
  font-weight: 500;
}

.icon {
  display: inline;
  all: initial;
}

.icon:hover {
  padding-left: 0;
}

.icon i {
  font-size: 22px;
}

.icons a:hover {
  margin: 0;
  cursor: pointer;
}

footer i {
  padding-right: 30px;
}

.links-col {
  width: 50%;
}

.footer-contact .container-fluid {
  margin-top: 30px;
  color: #7f9cc4;
}

.footer-col h3 {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 700;
}

.web-name {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.footer-col {
  width: 25%;
  padding: 20px;
}

.footer-about {
  padding-right: 70px;
}

.about-p {
  color: #7f9cc4;
}

.footer-about p {
  font-size: 15px;
}

.credits {
  text-align: center;
  margin-top: 10px;
}

.credits img {
  width: 80px;
}

.credits p {
  font-size: 15px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

/* end footer */

@media screen and (max-width: 1100px) {
  .inner-footer {
    margin: 80px 30px 0;
  }

  .footer-col {
    width: 50%;
  }
}

@media screen and (max-width: 980px) {
  /* notification bar */

  .notification-bar {
    padding: 10px;
    display: block;
  }

  .right-notification {
    display: flex;
    justify-content: space-around;
  }

  .right-notification a {
    margin: auto;
  }

  .left-notification {
    display: none;
  }

  /* end notification bar */

  /* navbar */

  .search-input {
    width: 100%;
    padding: 10px;
  }

  .navbar {
    padding: 5px 20px;
  }

  /* end navbar */

  /* profile menu */

  .profile-details {
    border-top: none;
  }

  .profile-page {
    padding: 0px;
  }

  .outer-menu {
    padding: 0 0px;
  }

  .profile-menu {
    padding: 10px 0;
  }

  .profile-menu-top {
    padding: 0px 0px;
  }
  /* end profile menu */

  /* profile details */

  .outer-details{
    padding: 0;
  }

  .profile-details {
    padding: 10px;
  }

  .slider-col-2 {
    padding: 0 0px 0 0px;
  }

  .slider-top-line p {
    font-size: 19px;
  }

  /* service col */

  .service-section {
    padding: 20px 0px;
  }

  .service-col {
    padding: 10px 10px;
  }

  /* end service col */

  /* end profile details */

  /* freelancer information */

  .information-page {
    padding: 10px 0px;
  }

  .outer-information {
    padding: 0 0px;
  }

  .freelancer-information {
    padding: 16px 20px;
  }

  .freelancer-information-top p {
    font-size: 26px;
  }

  .all-details .head {
    font-size: 20px;
  }

  .all-details .information i {
    font-size: 20px;
  }

  .all-details .information {
    font-size: 18px;
  }

  .all-details .sub-head {
    font-size: 19px;
  }

  .profession {
    margin-bottom: 20px;
  }

  .skills {
    margin-bottom: 20px;
  }

  .progress {
    height: 0.8rem;
  }

  /* end freelancer information */

  /* freelancer reviews */

  .review-page {
    padding: 10px 0px;
  }

  .outer-review {
    padding: 0 0px;
  }

  .freelancer-review {
    padding: 16px 10px;
  }

  .freelancer-review-top p {
    font-size: 26px;
  }

  .review-pic {
    margin: 10px 10px;
  }

  .review-pic img {
    width: 50px;
    height: 50px;
  }

  .reviewer {
    display: block;
  }

  .reviewer p:nth-child(1) {
    font-size: 15px;
  }

  .comment p:nth-child(1) {
    font-size: 17px;
  }

  .comment p:nth-child(2) {
    font-size: 15px;
  }

  /* end freelancer reviews */

  /* footer */

  footer {
    padding: 20px;
  }

  .footer-col {
    width: 100%;
  }

  .inner-footer {
    margin: 0px 0px 0;
  }

  .footer-col h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }

  .credits {
    flex-direction: column;
  }

  /* end footer */
}
