* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #595757;
}

/* notification bar */

.notification-bar {
  background-color: #273898;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.notification-bar a {
  color: #fff;
  font-weight: 500;
}

.right-notification a {
  margin-right: 30px;
}

/* end notification bar */

/* navbar */

.navbar {
  padding: 20px 50px;
  background-color: #f1f1f1 !important;
  box-shadow: 0 0 10px 0 #acacac;
}

.navbar-brand {
  font-size: 35px;
  font-weight: 700;
  color: #273898 !important;
}

.search-btn {
  background-color: #273898;
  border: none;
  outline: none !important;
  color: #fff;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 10px 30px;
}

.search-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.search-btn:hover {
  background-color: #223083;
}

.search-input {
  border-radius: 0.25rem 0 0 0.25rem;
  margin-right: 0 !important;
  width: 350px;
  padding: 10px;
  border: none;
}

.search-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #273898;
  transition: 0.3s;
}

.nav-item {
  font-size: 17px;
  font-weight: 500;
  margin-right: 10px;
}

.nav-link {
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #273898;
}

/* end navbar */

/* top slider */

.top-slider {
  padding: 0 100px;
}

.top-slider h1 {
  color: #273898;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 10px 10px 10px 0 #07b7d6;
  /* margin-bottom: 0px; */
}

.slider-text {
  display: flex;
  align-items: center;
}

.top-slider p {
  color: #1767a8;
  font-weight: 500;
}

.slider-text-btn {
  margin-top: 50px;
}

.slider-text-btn a {
  font-size: 18px;
  font-weight: 500;
}

.slider-text-btn a:nth-child(1) {
  color: #fff;
  background-color: #273898;
  padding: 10px 30px;
  border-radius: 99px;
  margin-right: 10px;
  transition: 0.3s;
  border: 2px solid #273898;
}

.slider-text-btn a:nth-child(1):hover {
  color: #273898;
  background-color: #fff;
}

.slider-text-btn a:nth-child(2) {
  color: #273898;
  border: 2px solid #273898;
  padding: 10px 28px;
  transition: 0.3s;
  border-radius: 99px;
}

.slider-text-btn a:nth-child(2):hover {
  color: #fff;
  background-color: #273898;
}

.slider-image {
  text-align: right;
  padding: 50px 0;
}

.slider-image img {
  height: 80vh;
}

/* end top slider */

/* slider-bottom-btn */

.slider-bottom .faq ::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.slider-bottom .faq ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px 0 #818181;
  border-radius: 99px;
}

/* Handle */
.slider-bottom .faq ::-webkit-scrollbar-thumb {
  background: #273898;
  border-radius: 99px;
  transition: 0.3s;
}

/* Handle on hover */
.slider-bottom .faq ::-webkit-scrollbar-thumb:hover {
  background: #1f2f85;
}

.slider-bottom {
  background-color: #f0f0f0;
  margin-top: 50px;
  padding: 20px 0;
}

.slider-bottom-btn {
  display: flex;
  padding: 0 150px;
  justify-content: space-around;
}

.slider-bottom-btn a {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background-color: #273898;
  width: 100%;
  padding: 10px 0;
  border-radius: 99px;
  margin-right: 10px;
  transition: 0.3s;
  border: 2px solid #273898;
}

.hover-dropdown.designer-level {
  padding: 0 100px;
  transition: 1s;
  text-align: left !important;
}

.designer-level ::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.designer-level ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px 0 #c5c5c5;
  border-radius: 99px;
}

/* Handle */
.designer-level ::-webkit-scrollbar-thumb {
  background: #ffec13;
  border-radius: 99px;
  transition: 0.3s;
}

/* Handle on hover */
.designer-level ::-webkit-scrollbar-thumb:hover {
  background: #dbca0d;
}

.hover-dropdown.designer-level .inner-level {
  text-align: left !important;
}

.hover-dropdown.designer-level .level-description {
  max-height: 150px !important;
  overflow: hidden;
  overflow-y: auto;
}

.hover-dropdown.designer-level .level-description li {
  list-style: circle;
}

.hover-dropdown.designer-level .level-description a {
  color: #fff;
  font-size: 14px;
}

.hover-dropdown.designer-level .level-description a:hover {
  text-decoration: underline;
}

.hover-dropdown .designer-level-cards {
  margin: 0;
}

.hover-dropdown .level {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0;
  padding: 0 1px;
  transition: 0.5s;
}

.hover-dropdown .level .level-btn {
  text-align: center;
}

.hover-dropdown .beginner-level {
  transition: 0.5s;
}
.hover-dropdown .intermediate-level {
  transition: 0.7s;
}
.hover-dropdown .expert-level {
  transition: 0.9s;
}
.hover-dropdown .guru-level {
  transition: 1.1s;
}

.hover-dropdown-active .level,
.hover-dropdown:hover .level {
  max-height: 300px;
  margin-bottom: 50px;
}

.hover-dropdown-active.designer-level,
.hover-dropdown.designer-level:hover {
  padding: 20px 100px;
}

.hover-dropdown.faq {
  /* padding-top: 30px; */
  max-height: 0;
  overflow: hidden;
  transition: all 0.7s;
}

.hover-dropdown .blur {
  display: none;
}

.hover-dropdown .blur .blur-active {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4430147058823529) 30%,
    rgba(0, 0, 0, 0) 65%
  );
  height: 30px;
}

.hover-dropdown.faq .faq-top {
  text-align: center;
  margin-bottom: 20px;
}

.hover-dropdown.faq .faq-top p {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #273898;
  margin-bottom: 5px;
}

.hover-dropdown.faq .faq-top .underline {
  height: 4px;
  background-color: #d6c724;
  border-radius: 99px;
  width: 200px;
  margin: auto;
}

.hover-dropdown.projects {
  max-height: 0;
  padding: 0 100px;
  overflow-y: hidden;
  transition: 1s;
}

.hover-dropdown.projects .swiper-slide img {
  height: 280px;
  object-fit: cover;
}

.hover-dropdown.projects .services-card-text {
  top: 20px;
}

.hover-dropdown.projects .services-card-text p:nth-child(1) {
  font-size: 20px;
}

.hover-dropdown-active.faq,
.hover-dropdown.faq:hover {
  max-height: 1000px;
  overflow-y: auto;
  padding: 20px 0;
}

.hover-dropdown-active.faq .accordion,
.hover-dropdown.faq:hover .accordion {
  max-height: 300px;
  overflow-y: auto;
}

.hover-dropdown-active.projects,
.hover-dropdown.projects:hover {
  max-height: 400px;
  padding: 20px 100px;
}

/* slider-bottom-btn end */

/* design services */

.design-services {
  padding: 80px 100px;
}

.design-services-top p:nth-child(1) {
  color: #273898;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.design-services-top p:nth-child(2) {
  color: #1767a8;
  font-size: 17px;
  font-weight: 500;
}

.swiper-container {
  width: 100%;
  height: 100%;
  /* padding: 0 50px !important; */
}

.swiper-wrapper {
  margin: 10px 0px 50px;
}

.swiper-slide {
  transition: all 0.4s;
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  color: hsl(215deg 40% 65%);
}

.swiper-slide:hover .services-card-text {
  opacity: 1;
}

.swiper-pagination {
  margin-top: 50px;
}

.services-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4430147058823529) 30%,
    rgba(0, 0, 0, 0) 65%
  );
  top: 0;
  transition: 0.4s;
}

.services-card-text {
  transition: 0.4s;
  position: absolute;
  top: 10px;
  left: 20px;
  /* opacity: 0; */
}

.services-card-text p:nth-child(1) {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
  color: #fff;
}

.services-card-text p:nth-child(2) {
  font-weight: 600;
  color: #cce010;
}

/* end design services */

/* video section */

.video-section {
  padding: 50px 100px;
  background-color: #d9e3ef;
}

.video-text-top {
  margin-bottom: 30px;
}

.video-text-top p {
  color: #273898;
  font-size: 32px;
  font-weight: 700;
}

.vh {
  font-size: 20px;
  font-weight: 600;
  color: #273898;
  margin-bottom: 8px;
}

.vt {
  color: #1767a8;
  margin-bottom: 20px;
  font-weight: 500;
}

.video-col {
  display: flex;
  align-items: center;
}

/* end video section */

/* designer level */

.designer-level {
  padding: 50px 100px;
}

.designer-level-top p:nth-child(1) {
  font-size: 30px;
  font-weight: 700;
  color: #273898;
}

.designer-level-top p:nth-child(2) {
  font-weight: 600;
  color: #1767a8;
}

.designer-level-cards {
  margin-top: 30px;
}

.level {
  padding: 1px;
}

.inner-level {
  padding: 20px 20px 10px;
  background-color: #273898;
  color: #fff;
  text-align: center;
}

.level-top {
  font-size: 19px;
  font-weight: 700;
}

.level-description p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.level-projects {
  font-size: 18px;
  font-weight: 600;
}

.level-rating i {
  font-size: 18px;
  margin-right: 5px;
}

.beginner-level .level-rating i:nth-child(1) {
  color: #ffec13;
}

.level-btn {
  margin: 30px 0 20px;
}

.level-btn a {
  color: #273898;
  background-color: #ffec13;
  padding: 12px 60px;
  border-radius: 99px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 1px 7px 11px 0 #182469;
}

.intermediate-level .level-rating i:nth-child(-n + 3) {
  color: #ffec13;
}

.expert-level .level-rating i:nth-child(-n + 4) {
  color: #ffec13;
}

.guru-level .level-rating i {
  color: #ffec13;
}

/* end designer level */

/* client reviews */

.client-reviews {
  padding: 50px 100px;
  background-color: hsl(0, 0%, 95%);
}

.client-reviews-top p:nth-child(1) {
  font-size: 30px;
  font-weight: 700;
  color: #273898;
}

.client-reviews-top p:nth-child(2) {
  font-weight: 600;
  color: #1767a8;
}

.review-slider {
  text-align: center;
}

.quote-icon i {
  font-size: 28px;
  color: #b2c6e0;
}

.mySwiper-2 .swiper-slide {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  border-bottom: 4px solid #273898;
}

.review-text {
  margin-top: 25px;
}

.review-text p {
  color: #5f94be;
  font-size: 15px;
  font-weight: 600;
}

.review-bottom {
  background-color: #5f94be;
  height: 2px;
  width: 35%;
  margin: auto;
}

.review-profile {
  margin-top: 20px;
}

.review-profile img {
  width: 75px;
  margin-bottom: 10px;
}

.review-profile p {
  font-weight: 700;
  color: #5f94be;
  margin-bottom: 0;
}

/* end client reviews */

/* freelancer designs */

.freelancer-designs {
  padding: 50px 100px;
}

.freelancer-designs-top p:nth-child(1) {
  font-size: 30px;
  font-weight: 700;
  color: #273898;
}

.freelancer-designs-top p:nth-child(2) {
  font-weight: 600;
  color: #1767a8;
}

.design-cards {
  margin: 40px 0;
}

.design-card {
  padding: 10px;
}

.inner-design-card {
  border: 1px solid #d1d1d1;
}

.design-card img {
  width: 100%;
}

.design-image img {
  width: 100%;
}

.design-card-text {
  padding: 10px;
  border-top: 1px solid #d1d1d1;
}
.design-card-text .container-fluid {
  padding: 0;
}

.design-name p:nth-child(1) {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0;
  color: #273898;
}

.design-name p:nth-child(2) {
  margin-bottom: 0;
  color: #1767a8;
  font-size: 13px;
}

.freelancers-designs-btn {
  text-align: center;
}

.freelancers-designs-btn a {
  color: #fff;
  background-color: #273898;
  padding: 16px 60px;
  border-radius: 99px;
  font-size: 17px;
  font-weight: 700;
}

/* end freelancer designs */

/* footer */

.footer-top-line {
  height: 4px;
  background-color: #1767a8;
  width: 100%;
  margin-top: 10px;
}

footer a {
  color: #7f9cc4;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0;
  display: block;
}

footer a:hover {
  color: #fff;
  /* padding-left: 14px; */
  transition: 0.2s;
  font-weight: 500;
  margin-left: 6px;
}

footer {
  background: #121d5a;
  color: #fff;
  padding: 30px 100px 0;
}

.icons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-icon-col {
  width: 15%;
}

.footer-detail-col {
  width: 85%;
}

.footer-detail-col p {
  font-size: 14px;
  font-weight: 500;
}

.icon {
  display: inline;
  all: initial;
}

.icon:hover {
  padding-left: 0;
}

.icon i {
  font-size: 22px;
}

.icons a:hover {
  margin: 0;
  cursor: pointer;
}

footer i {
  padding-right: 30px;
}

.links-col {
  width: 50%;
}

.footer-contact .container-fluid {
  margin-top: 30px;
  color: #7f9cc4;
}

.footer-col h3 {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 700;
}

.web-name {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.footer-col {
  width: 25%;
  padding: 20px;
}

.footer-about {
  padding-right: 70px;
}

.about-p {
  color: #7f9cc4;
}

.footer-about p {
  font-size: 15px;
}

.credits {
  text-align: center;
  margin-top: 10px;
}

.credits img {
  width: 80px;
}

.credits p {
  font-size: 15px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

/* end footer */

@media screen and (max-width: 1100px) {
  .inner-footer {
    margin: 80px 30px 0;
  }

  .footer-col {
    width: 50%;
  }
}

@media screen and (max-width: 980px) {
  /* notification bar */

  .notification-bar {
    padding: 10px;
    display: block;
  }

  .right-notification {
    display: flex;
    justify-content: space-around;
  }

  .right-notification a {
    margin: auto;
  }

  .left-notification {
    display: none;
  }

  /* end notification bar */

  /* navbar */

  .search-input {
    width: 100%;
    padding: 10px;
  }

  .navbar {
    padding: 5px 20px;
  }

  /* end navbar */

  /* top slider */

  .top-slider {
    padding: 50px 20px 0;
  }

  .top-slider h1 {
    font-size: 30px;
  }

  .slider-text-btn a {
    font-size: 16px;
  }

  .slider-text-btn a:nth-child(1) {
    padding: 5px 20px;
  }

  .slider-text-btn a:nth-child(2) {
    padding: 5px 19px;
  }

  .slider-image {
    text-align: center;
    padding: 30px 0;
  }

  .slider-image img {
    height: 300px;
  }

  /* end top slider */

  /* slider-bottom-btn */

  .slider-bottom-btn {
    padding: 45px 20px;
    display: block;
  }

  .slider-bottom-btn a {
    display: block;
    margin: 10px 0;
  }

  /* slider-bottom-btn end */

  /* design services */

  .design-services {
    padding: 50px 20px;
  }

  .design-services-top p:nth-child(1) {
    font-size: 27px;
  }

  .design-services-top p:nth-child(2) {
    font-size: 16px;
  }

  .services-card-text {
    left: 10px;
  }

  .services-card-text p:nth-child(1) {
    font-size: 21px;
  }

  /* end design services */

  /* video section */

  .video-section {
    padding: 50px 20px;
  }

  .video-text-top p {
    font-size: 30px;
  }

  .video-col {
    margin-top: 30px;
  }

  .video-col iframe {
    width: 100%;
    height: 190px;
  }

  /* end video section */

  /* designer level */
  .hover-dropdown {
    display: none;
  }

  .designer-level {
    padding: 50px 20px;
  }

  .designer-level-top p:nth-child(1) {
    font-size: 28px;
  }

  .level {
    padding: 5px 0;
  }

  /* end designer level */

  /* client reviews */

  .client-reviews {
    padding: 50px 20px;
  }

  .client-reviews-top p:nth-child(1) {
    font-size: 28px;
  }

  .review-slider {
    text-align: center;
  }

  .review-slider .swiper-wrapper {
    margin-top: 20px;
  }

  /* end client reviews */

  /* freelancer designs */

  .freelancer-designs {
    padding: 50px 20px 20px;
  }

  .freelancer-designs-top p:nth-child(1) {
    font-size: 28px;
  }

  .design-cards {
    margin: 20px 0 40px;
  }

  .design-card-text .row {
    align-items: center;
  }

  /* end freelancer designs */

  /* footer */

  footer {
    padding: 20px;
  }

  .footer-col {
    width: 100%;
  }

  .inner-footer {
    margin: 0px 0px 0;
  }

  .footer-col h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }

  .credits {
    flex-direction: column;
  }

  /* end footer */
}
